body {
    margin: 0px;
    font-family: Helvetica, sans-serif;
  }
  .container {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom right, rgb(236, 120, 12), rgb(235, 234, 229));
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .logo
  {
      width: 150px;
      height: 150px;
  }
  .box {
      border: 0;
      border-radius: 2rem;
      width: 500px;
      height: 500px;
      background: rgb(255, 255, 255);
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
  }  
  p#enunciado{
    text-transform: uppercase;
    font-size: 15px;
    color: rgb(177, 176, 175);
    font-weight: bolder;
  }
  .caixa {
    border: 0;
    border-radius: 1rem;
    background-color: rgba(124, 124, 124, 0.342);
    height: 2.5rem;
    width: 60%;
    display: block;
    margin: .4rem;
    text-align: center;
  }
  .caixa:hover{
    background-color: rgba(172, 148, 148, 0.712);
  }
  .botao {
    border: 0;
    border-radius: 1rem;
    display: block;
    height: 2.5rem;
    width: 5rem;
    margin: .4rem;
    background-color: lightslategrey;
    color: whitesmoke;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-items: center;
  }
  .botao:hover{
  background-color: rgba(105, 160, 134, 0.589);
  cursor: pointer;
  }
  .limpa
  {
    border: 0;
    border-radius: 1rem;
    display: block;
    height: 2.5rem;
    width: 5rem;
    margin: .4rem;
    background-color: lightslategrey;
    color: whitesmoke;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-items: center;
    font-size: 15px;
  }
  .limpa:hover
  {
    background-color: rgba(160, 116, 105, 0.589);
    cursor: pointer;
  }
  .link{
    text-decoration: none;
    color: rgb(86, 152, 226);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 1rem;
  }