@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    display: flex;
    justify-content: left;
    align-items: center;
    min-height: 30vh;
    background: rgb(218, 166, 24);
}
.navegacao
{
    position: relative;
    height: 100vh;
    background-color: rgb(48, 47, 47);
    width: 70px;
    box-shadow: 10px 0 0 rgb(218, 112, 13);
    border-left: 10px solid rgb(48, 47, 47);
    overflow: hidden;
    transition: 0.5s;
    z-index: 2;
}
.navegacao:hover
{
    width:300px;
}
.navegacao ul 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 5px;
    padding-top:  40px;
}
.navegacao ul li
{
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

}
.navegacao ul li a
{
    position: relative;
    display: flex;
    width: 100%;
    text-decoration: none;
    color: white;
}
.navegacao ul li a .icon
{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    text-align: center;
    line-height: 70px;
}
.navegacao ul li a .icon ion-icon
{
    position: relative;
    font-size: 1.5rem;
    z-index: 1;
}
.navegacao ul li a .titulo
{
    position: relative;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
}
.navegacao ul li.active
{
    background: rgb(218, 112, 13);
}
.navegacao ul li.active a::before
{
    content: '';
    position: absolute;
    top: -30px;
    right: 0;
    width: 30px;
    height: 30px;
    background: rgb(48, 47, 47);
    border-radius: 50%;
    box-shadow: 15px 15px rgb(218, 112, 13);
}
.navegacao ul li.active a::after
{
    content: '';
    position: absolute;
    bottom: -30px;
    right: 0;
    width: 30px;
    height: 30px;
    background: rgb(48, 47, 47);
    border-radius: 50%;
    box-shadow: 15px -15px 0 rgb(218, 112, 13);
}