body{
    margin: 0px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: rgb(56, 55, 55);
}
.tela
{
    margin:0;
    display: flex;
    flex-direction: column;
}
.mensagem
{
    margin: 5px;
    width: 400px;
    height: 80px;
    text-align: top;
    align-items: top;
    align-content: top;
    display: flex;
    justify-content: right;
    justify-items: top;
    font-size: 17px;
    border-radius: 1rem;
    border: solid rgba(129, 127, 127, 0.973);
    background-color: rgba(255, 255, 255, 0);
    color:#ffff;
    position: relative;
}
.botao_enviar
{
    width: 80px;
    height: 30px;
    background-color: rgb(223, 90, 13);
    color:azure;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    position: relative;
    cursor: pointer;
}
.resposta
{
    z-index: 5;
    color: #ffff;
    font-size: 15px;
    position: relative;
}
.fundo_resposta
{
    width: 30vw;
    height: 50vh;
    border-radius: 10px;
    border: solid rgba(129, 127, 127, 0.973);
    margin: 5PX;
    color: #ffff;
    position: relative;
}
.box
{
    width: 35vw;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgba(253, 135, 0);
    color: #ffff;
    border: solid rgb(55, 55, 55);
    margin: 5px;
}
.box2
{
    width: 35vw;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: rgba(253, 135, 0);
    color: #ffff;
}
.box3
{
    color: #ffff;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
.fundo_fake
{
    z-index: -2;
    opacity: 30%;
}
.icon
{
    color: #ffff;
    top: 30px;
    left: 20px;
    position: absolute;
    z-index: 9;
    font-size: 30px;
}