
body{
    margin: 0px;
    overflow: hidden;
}
.fundo_menu{
    width: 100vw;
    height: 20vh;
    background-color: rgba(253, 135, 0);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}
.lupa
{
    width: 28px;
    height: 28px;
    position: absolute;
    right: 115px;
    animation: fadeInRight 2s;
}
.menu_icone
{
    width: 30px;
    height: 30px;
    position: absolute;
    left: 100px;
    animation: fadeInRight 2s;
}
.fundo_tela{
    background-color: rgb(56, 55, 55);
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: right;
    position: relative;
}
.fundo_texto_m{
    background-color: rgba(253, 173, 0, 0.6);
    height: 5vh;
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding-left: 20px;
    animation: fadeInRight 2s;
    box-shadow: 1px 1px black;
}
.imagem{
    animation: aparecer 3s;
    height: 80vh;
    width: 65vw;
    opacity: 1;
    position: absolute;
    z-index: 1;
}
.fundo_tela2
{   
    width: 33.5vw;
    height: 80vh;
    position: relative;
}
.texto1
{
    font-size: 65px;
    color: rgb(251, 255, 0);
    width: 33.5vw;
    height: 30vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: top;
    text-align: center;
    padding-top: 60px;
    animation: fadeInDownBig 2s;
    animation: flash 4s infinite;
    animation: aparecer 3s;
    z-index: 3;
}
.texto2
{
    font-size: 30px;
    width: 400px;
    height: 90px;
    background-color: orangered;  
    position: absolute;
    top: 450px;
    right:60px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 1rem;
    color: white;
    animation: pulse 4s;
    animation: aparecer 3s;
    z-index: 2;
}
.texto2:hover
{
    
    width: 396px;
    height: 86px;
    border-color: azure;
    border: solid 2px;
    cursor: pointer;
}
@keyframes aparecer {
    from { opacity: 0; }
    to { opacity: 1; }
    from{
        transform: translateX(-500px);
    }
    to{
        transform: translateX(400);
    }
}

  
