body{
    margin: 0px;
    overflow: hidden;
}
.tela
{
    margin:0;
    display: flex;
    flex-direction: column;
}
.fundo_menu{
    width: 100vw;
    height: 22vh;
    background-color: rgba(253, 135, 0);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}
.lupa
{
    width: 35px;
    height: 35px;
    text-decoration: #ffff;
}
.box_menu
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.fundo_tela{
    background-color: rgb(56, 55, 55);
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: right;
    position: relative;
}
.fundo_texto_m{
    background-color: rgba(241, 240, 238, 0.89);
    height: 5vh;
    width: 60vw;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding-left: 20px;
    animation: fadeInRight 2s;
    box-shadow: 1px 1px black;
    border-radius: 10px;
}
.imagem{
    animation: aparecer 3s;
    height: 80vh;
    width: 65vw;
    opacity: 1;
    position: absolute;
    z-index: 1;
}
.fundo_tela2
{   
    width: 33.5vw;
    height: 80vh;
    position: relative;
}
.texto1
{
    font-size: 65px;
    color: rgb(251, 255, 0);
    width: 33.5vw;
    height: 30vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: top;
    text-align: center;
    padding-top: 60px;
    animation: fadeInDownBig 2s;
    animation: flash 4s infinite;
    animation: aparecer 3s;
    z-index: 3;
}
.texto2
{
    font-size: 30px;
    width: 400px;
    height: 90px;
    background-color: orangered;  
    position: absolute;
    top: 450px;
    right:60px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 1rem;
    color: white;
    animation: pulse 4s;
    animation: aparecer 3s;
    z-index: 2;
}
.texto2:hover
{
    
    width: 398px;
    height: 88px;
    border-color: azure;
    border: solid 2px;
    cursor: pointer;
}
  @keyframes aparecer {
    from { opacity: 0; }
    to { opacity: 1; }
    from{
        transform: translateX(-500px);
    }
    to{
        transform: translateX(400);
    }
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;600;700&display=swap');

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    display: flex;
    justify-content: left;
    align-items: center;
    min-height: 30vh;
    background: rgb(218, 166, 24);
}
*/
.navegacao
{
    position: absolute;
    height: 100vh;
    background-color: rgb(48, 47, 47);
    width: 70px;
    box-shadow: 10px 0 0 rgba(253, 135, 0);
    border-left: 10px solid rgb(48, 47, 47);
    overflow: hidden;
    transition: 0.5s;
    z-index: 3;
    left: -10px;
}
.navegacao:hover
{
    width:300px;
}
.navegacao ul 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 5px;
    padding-top:  40px;
}
.navegacao ul li
{
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

}
.navegacao ul li a
{
    position: relative;
    display: flex;
    width: 100%;
    text-decoration: none;
    color: white;
}
.navegacao ul li a .icon
{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    text-align: center;
    line-height: 70px;
}
.navegacao ul li a .icon ion-icon
{
    position: relative;
    font-size: 1.5rem;
    z-index: 1;
}
.navegacao ul li a .titulo
{
    position: relative;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
}
.navegacao ul li.active
{
    background: rgba(253, 135, 0);
}
.navegacao ul li.active a::before
{
    content: '';
    position: absolute;
    top: -30px;
    right: 0;
    width: 30px;
    height: 30px;
    background: rgb(48, 47, 47);
    border-radius: 50%;
    box-shadow: 15px 15px rgba(253, 135, 0);
}
.navegacao ul li.active a::after
{
    content: '';
    position: absolute;
    bottom: -30px;
    right: 0;
    width: 30px;
    height: 30px;
    background: rgb(48, 47, 47);
    border-radius: 50%;
    box-shadow: 15px -15px 0 rgba(253, 135, 0);
}